#### Code by Leandro Silveira

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/CJA07.20210409T030406.csv')

In [4]:
df.shape

(1476, 6)

In [5]:
df.head()

,Statistic,Year,Garda Station,Type of Offence,UNIT,VALUE
0,Recorded Crime Offences Under Reservation,2017,"63101 Balbriggan, D.M.R. Northern Division","Attempts/threats to murder, assaults, harassme...",Number,118
1,Recorded Crime Offences Under Reservation,2017,"63101 Balbriggan, D.M.R. Northern Division",Dangerous or negligent acts,Number,51
2,Recorded Crime Offences Under Reservation,2017,"63101 Balbriggan, D.M.R. Northern Division",Kidnapping and related offences,Number,3
3,Recorded Crime Offences Under Reservation,2017,"63101 Balbriggan, D.M.R. Northern Division","Robbery, extortion and hijacking offences",Number,18
4,Recorded Crime Offences Under Reservation,2017,"63101 Balbriggan, D.M.R. Northern Division",Burglary and related offences,Number,141

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476 entries, 0 to 1475
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic        1476 non-null   object
 1   Year             1476 non-null   int64
 2   Garda Station    1476 non-null   object
 3   Type of Offence  1476 non-null   object
 4   UNIT             1476 non-null   object
 5   VALUE            1476 non-null   int64
dtypes: int64(2), object(4)
memory usage: 69.3+ KB

In [7]:
df['Statistic'].unique()

array(['Recorded Crime Offences Under Reservation'], dtype=object)

#### All of the rows for this column contain the same value, there is no point in having the Statistic column, so I will drop it

In [8]:
df = df.drop(['Statistic'], axis =1)

In [9]:
df.head()

,Year,Garda Station,Type of Offence,UNIT,VALUE
0,2017,"63101 Balbriggan, D.M.R. Northern Division","Attempts/threats to murder, assaults, harassme...",Number,118
1,2017,"63101 Balbriggan, D.M.R. Northern Division",Dangerous or negligent acts,Number,51
2,2017,"63101 Balbriggan, D.M.R. Northern Division",Kidnapping and related offences,Number,3
3,2017,"63101 Balbriggan, D.M.R. Northern Division","Robbery, extortion and hijacking offences",Number,18
4,2017,"63101 Balbriggan, D.M.R. Northern Division",Burglary and related offences,Number,141

In [10]:
df['Year'].unique()

array([2017, 2018, 2019])

In [11]:
df['Garda Station'].unique()

array(['63101 Balbriggan, D.M.R. Northern Division',
       '66201 Ballyfermot, D.M.R. Western Division',
       '63201 Ballymun, D.M.R. Northern Division',
       '65101 Blackrock, Co Dublin, D.M.R. Eastern Division',
       '66101 Blanchardstown, D.M.R. Western Division',
       '62101 Bridewell Dublin, D.M.R. North Central Division',
       '65201 Cabinteely, D.M.R. Eastern Division',
       '66102 Cabra, D.M.R. Western Division',
       '66202 Clondalkin, D.M.R. Western Division',
       '63401 Clontarf, D.M.R. Northern Division',
       '63301 Coolock, D.M.R. Northern Division',
       '64101 Crumlin, D.M.R. Southern Division',
       '61101 Donnybrook, D.M.R. South Central Division',
       '63202 Dublin Airport, D.M.R. Northern Division',
       '65203 Dun Laoghaire, D.M.R. Eastern Division',
       '65102 Dundrum, D.M.R. Eastern Division',
       '66103 Finglas, D.M.R. Western Division',
       '62202 Fitzgibbon Street, D.M.R. North Central Division',
       '63102 Garristown, D.M.R. Northern Division',
       '63402 Howth, D.M.R. Northern Division',
       '61102 Irishtown, D.M.R. South Central Division',
       '61301 Kevin Street, D.M.R. South Central Division',
       '61302 Kilmainham, D.M.R. South Central Division',
       '66301 Lucan, D.M.R. Western Division',
       '63103 Lusk, D.M.R. Northern Division',
       '63302 Malahide, D.M.R. Northern Division',
       '62203 Mountjoy, D.M.R. North Central Division',
       '61202 Pearse Street, D.M.R. South Central Division',
       '63403 Raheny, D.M.R. Northern Division',
       '66203 Rathcoole, D.M.R. Western Division',
       '64201 Rathfarnham, D.M.R. Southern Division',
       '64301 Rathmines, D.M.R. Southern Division',
       '66302 Ronanstown, D.M.R. Western Division',
       '63203 Santry, D.M.R. Northern Division',
       '65205 Shankill, D.M.R. Eastern Division',
       '63105 Skerries, D.M.R. Northern Division',
       '62301 Store Street, D.M.R. North Central Division',
       '64102 Sundrive Road, D.M.R. Southern Division',
       '63303 Swords, D.M.R. Northern Division',
       '64202 Tallaght, D.M.R. Southern Division',
       '64302 Terenure, D.M.R. Southern Division'], dtype=object)

In [12]:
df['Type of Offence'].unique()

array(['Attempts/threats to murder, assaults, harassments and related offences',
       'Dangerous or negligent acts', 'Kidnapping and related offences',
       'Robbery, extortion and hijacking offences',
       'Burglary and related offences', 'Theft and related offences',
       'Fraud, deception and related offences',
       'Controlled drug offences', 'Weapons and Explosives Offences',
       'Damage to property and to the environment',
       'Public order and other social code offences',
       'Offences against government, justice procedures and organisation of crime'],
      dtype=object)

In [13]:
df['UNIT'].unique()

array(['Number'], dtype=object)

#### I don't think that we need a column that only says unit = number, so I will drop it

In [14]:
df = df.drop(['UNIT'], axis =1)

In [15]:
df.head()

,Year,Garda Station,Type of Offence,VALUE
0,2017,"63101 Balbriggan, D.M.R. Northern Division","Attempts/threats to murder, assaults, harassme...",118
1,2017,"63101 Balbriggan, D.M.R. Northern Division",Dangerous or negligent acts,51
2,2017,"63101 Balbriggan, D.M.R. Northern Division",Kidnapping and related offences,3
3,2017,"63101 Balbriggan, D.M.R. Northern Division","Robbery, extortion and hijacking offences",18
4,2017,"63101 Balbriggan, D.M.R. Northern Division",Burglary and related offences,141

We will keep only the Garda Station Column since we only need latitude and longitude of the garda stations and that is the column that will be used to pass to the API

In [16]:
df = df.drop(['Year', 'Type of Offence', 'VALUE'], axis =1)

In [17]:
df.shape

(1476, 1)

In [18]:
df.head()

                                Garda Station
0  63101 Balbriggan, D.M.R. Northern Division
1  63101 Balbriggan, D.M.R. Northern Division
2  63101 Balbriggan, D.M.R. Northern Division
3  63101 Balbriggan, D.M.R. Northern Division
4  63101 Balbriggan, D.M.R. Northern Division

In [19]:
df.to_csv('garda.csv')